#container{
    width: 80%;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

body{
    background-color: #083b4c;
}

h1{
    color:white;
    text-align: center;
}

.box{
    width: 100px;
    height: 100px;
    margin: 1rem;
    display:flex;
    justify-content: center;
    align-items: center;
}

.numero{
    background-color: #1389b2;
}

.fizz{
    background-color: #0cd6a1;
}

.buzz{
    background-color: #ffd166;
}

.fizzbuzz{
    background-color: #f0466f;
}